<a href="https://colab.research.google.com/github/AlmahdiPen/2025_PBO_TI-1A/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Jobsheet 01 - Dasar Bahasa Pemrograman Phyton

# Praktikum 01. Tipe data dasar

In [5]:
 # 1. Number (int, float, complex)
 # Integer (int)
 angka_int = 10
 print("angka_int =", angka_int, "->", type(angka_int))

angka_int = 10 -> <class 'int'>

In [6]:
 # Float
 angka_float = 3.14
 print("angka_float =", angka_float, "->", type(angka_float))

angka_float = 3.14 -> <class 'float'>

In [7]:
 # Complex
 angka_complex = 2 + 3j
 print("angka_complex =", angka_complex, "->", type(angka_complex))

angka_complex = (2+3j) -> <class 'complex'>

In [8]:
 # 2. Boolean
 is_active = True
 print("is_active =", is_active, "->", type(is_active))

is_active = True -> <class 'bool'>

In [9]:
 # 3. String
 teks = "Hello, Python!"
 print("teks =", teks, "->", type(teks))

teks = Hello, Python! -> <class 'str'>

In [12]:
# 4. List
 # List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>

In [13]:
# 5. Tuple
 # Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable)
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

koordinat = (10, 20) -> <class 'tuple'>

In [20]:
 # 6. Dictionary
 # Dictionary menyimpan data dalam pasangan key-value
 data_mahasiswa = {
 "nama": "Andi",
 "nim": "A11.2022.12345",
 "jurusan": "Teknik Informatika"}
 print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))

data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>

In [22]:
 # 7. Set
 # Set adalah tipe data yang tidak terurut, unik (tiap elemen hanya muncul 1x)
 himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

himpunan_angka = {1, 2, 3} -> <class 'set'>

In [23]:
 # 8. Contoh penggunaan konversi tipe data
 nilai_str = "100"
 print("\nnilai_str =", nilai_str, "->", type(nilai_str))
 nilai_int = int(nilai_str) # konversi string ke integer
 print("nilai_int =", nilai_int, "->", type(nilai_int))

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>

# Praktikum 02. Variabel dan Operasi Dasar

In [37]:
# -*- coding: utf-8 -*-

# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi, "cm")
print("Mahasiswa =", is_student)

# Python tidak memerlukan deklarasi tipe data secara eksplisit.
# Tipe data variabel akan menyesuaikan nilai yang diberikan.

Nama = Budi
Umur = 20
Tinggi = 170.5 cm
Mahasiswa = True

In [43]:
 # 2. Operasi Aritmetika
 a = 10
 b = 3

 penjumlahan = a + b # Tambah
 pengurangan = a - b # Kurang
 perkalian = a * b # Kali
 pembagian = a / b # Bagi (hasil float)
 pembagian_bulat = a // b # Bagi (bulat)
 modulus = a % b # Sisa bagi
 pangkat = a ** b # Pemangkatan

 print("\nOPERASI ARITMETIKA")
 print("a =", a, ", b =", b)
 print("Penjumlahan =", penjumlahan)
 print("Pengurangan =", pengurangan)
 print("Perkalian =", perkalian)
 print("Pembagian =", pembagian)
 print("Pembagian Bulat =", pembagian_bulat)
 print("Modulus =", modulus)
 print("Pangkat =", pangkat)

OPERASI ARITMETIKA
a = 10 , b = 3
Penjumlahan = 13
Pengurangan = 7
Perkalian = 30
Pembagian = 3.3333333333333335
Pembagian Bulat = 3
Modulus = 1
Pangkat = 1000

In [46]:
# 3. Operasi Perbandingan
# Menghasilkan nilai Boolean (True/False)
lebih_besar = a > b
kurang_dari = a < b
sama_dengan = a == b
tidak_sama = a != b
lebih_besar_sama = a >= b
kurang_sama = a <= b

print("\nOPERASI PERBANDINGAN")
print("a > b =", lebih_besar)
print("a < b =", kurang_dari)
print("a == b =", sama_dengan)
print("a != b =", tidak_sama)
print("a >= b =", lebih_besar_sama)
print("a <= b =", kurang_sama)

OPERASI PERBANDINGAN
a > b = True
a < b = False
a == b = False
a != b = True
a >= b = True
a <= b = False

In [47]:
 # 4. Operasi Logika
 # and, or, not

 x = True
 y = False

 logika_and = x and y
 logika_or = x or y
 logika_not_x = not x

 print("\nOPERASI LOGIKA")
 print("x =", x, ", y =", y)
 print("x and y =", logika_and)
 print("x or y =", logika_or)
 print("not x =", logika_not_x)

OPERASI LOGIKA
x = True , y = False
x and y = False
x or y = True
not x = False

In [52]:
 # 5. Contoh penggunaan di dalam percabangan
 if a > b and b > 0:
  print("\nKondisi terpenuhi: a lebih besar dari b, dan b masih positif.")
 else:
  print("\nKondisi tidak terpenuhi atau b <= 0.")

Kondisi terpenuhi: a lebih besar dari b, dan b masih positif.